@import "variables";

@import "~bootstrap/scss/bootstrap.scss";
@import "~ionicons/dist/scss/ionicons.scss";

.page-header-navbar {
    background-color: black;
}

.navbar-menu {
    color: white;
    font-weight: bold;
    vertical-align: middle;
    font-size: 2rem;
    display: inline-block;
    padding: 0 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    margin-right: 2rem;
}
